@import 'variables';

form {
    margin: 20px;
}

.edit-member,
.restore-member {
    padding-right: 20px;
}

.card-css {
    padding: 10px;
    margin-top: 30px;
}

.navbar-nav {
    margin-left: auto;
}

.avatar-img {
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

a {
    text-decoration: none;
}
