<div class="container">
    <form method="POST" action="/me/member/stored">
        <div class="mb-3">
            <label for="talent" class="form-label">Talent</label>
            <input type="text" name="talent" class="form-control" id="talent">
        </div>
        <div class="mb-3">
            <label for="gen" class="form-label">Gen</label>
            <input type="text" name="gen" class="form-control" id="gen">
        </div>
        <div class="mb-3">
            <label for="sub" class="form-label">Sub</label>
            <input type="text" name="sub" class="form-control" id="sub">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>