<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Hololive</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="avatar-img" src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-1/296042194_3161294447465525_6166467666764590474_n.jpg?stp=c72.0.240.240a_dst-jpg_p240x240&_nc_cat=107&ccb=1-7&_nc_sid=7206a8&_nc_ohc=3RFs7QnF4EMAX-z2Pr5&_nc_ht=scontent.fhan15-2.fna&oh=00_AT_tcsp2pwPZ_wkueyqX1BTbqMPSa2vRD-el0ysJKNDZ9Q&oe=62F8E191" alt="">
            Kome-to
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/member">Member</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>